<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Lookup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Dictionary Lookup</h1>
        <label for="randomString">Enter a random string of characters:</label>
        <input type="text" id="randomString" placeholder="Only capital letters allowed">
        <button onclick="findWords()" style="margin-bottom: 20px;">Find Words</button> <!-- Added margin-bottom -->
        <div class="table-container">
            <table id="results">
                <!-- Table content will be dynamically generated -->
            </table>
        </div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-word"></p>
            <p id="popup-meaning"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
